<h4>
    <a class="iocnamehash" data-iocnamehash="<%= iocnamehash %>"><i class="fa fa-list"></i> <%= iocname %></a>
</h4>

<hr style="margin-top: 5px"/>

<% _.each( items, function( item, index ) { %>

<h4><a class="ioc_uuid" data-ioc_uuid="<%= item.iocuuid %>"><%= item.iocuuid %></a></h4>

<div id="uuid-<%= index %>-table" style="margin-bottom: 15px">
</div>
<% }) %>