<div class="container" style="width: 500px; font-size: 95%;">
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <span style="font-weight: bold">
                    <%= cluster.engagement.client.name %> (<%= cluster.name %>) : <%= domain %> / <%= hostname %>
                </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
      <div class="row">
        <div class="col-sm-6">
          <%= time_formatted %>
        </div>
        <div class="col-sm-5">
          <span class="label label-<%= time_label %> pull-right"><%= time_caption %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
      <div class="row">
        <div class="col-sm-8">
          <%= product_name %> <%= os_patch_level %>
        </div>
        <div class="col-sm-4">
          <%= ip %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
      <div class="row">
        <div class="col-sm-6">
          <%= cluster.engagement.number %>
        </div>
        <div class="col-sm-6">
          <%= version %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
      <div class="row">
        <div class="col-sm-4">
          NotReviewed <span class="badge pull-right"><%= counts.notreviewed %></span>
        </div>
        <div class="col-sm-4">
          Investigating <span class="badge pull-right"><%= counts.investigating %></span>
        </div>
        <div class="col-sm-4">
          Escalate <span class="badge pull-right"><%= counts.escalate %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
      <div class="row">
        <div class="col-sm-4">
          Unreported <span class="badge pull-right"><%= counts.unreported %></span>
        </div>
        <div class="col-sm-4">
          Reported: <span class="badge pull-right"><%= counts.reported %></span>
        </div>
        <div class="col-sm-4">
          Delete: <span class="badge pull-right"><%= counts.delete %></span>
        </div>
      </div>
    </div>
  </div>
</div>