<div class="container">
  <div class="page-header">
    <h1>Available Themes</h1>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="page-header">
        <h2>Options</h2>
      </div>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="themeChooser" class="col-sm-2 control-label">Theme: </label>
          <div class="col-sm-10 btn-group">
            <button type="button"
                    class="btn btn-default dropdown-toggle btn-block"
                    data-toggle="dropdown"
                    style="width: calc(100% - 3em)">
              <span id="selectedThemeText"><%= _.findWhere(UAC.themes, {id: UAC.current_theme}).name %></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:2em"><span class="caret"></span></button>

            <ul class="dropdown-menu">
              <% _.each(UAC.themes, function(theme) { %>
              <li class="<% if(UAC.current_theme == theme.id){ %>, <%= 'disabled' %> <% } %>">
                <a data-uac-theme="<%= theme.id %>" class="uac-theme">
                  <i class="fa fa-picture-o"></i> <%= theme.name %>
                </a>
              </li>

              <% }); %>

            </ul>

          </div>
        </div>

        <div class="form-group" style="padding-top: 10px">
          <label for="fontChooser" class="col-sm-2 control-label">Size: </label>
          <div class="btn-group col-sm-10" style="text-align: center">
            <div style="margin: 0 auto;text-align: center;width: inherit;display: inline-block;">
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-default fontOption"
                    value="tiny"
                    <% if(UAC.font_size == 'tiny'){ %>, <%= 'disabled' %> <% } %> >
                  Tiny
                </button>
              </div>
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-default fontOption"
                    value="small"
                    <% if(UAC.font_size == 'small'){ %>, <%= 'disabled' %> <% } %> >
                  Small
                </button>
              </div>
              <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-default fontOption"
                    value="normal"
                    <% if(UAC.font_size == 'normal'){ %>, <%= 'disabled' %> <% } %> >
                  Normal
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-7 text-right">
      <div class="page-header">
        <h2>Preview</h2>
      </div>
      <div class="uac-theme-border">
        <div>
          <div class="bs-component">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
              <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
              <li><a href="#profile" data-toggle="tab">Profile</a></li>
              <li class="disabled"><a>Disabled</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                  <li class="divider"></li>
                  <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                </ul>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
              </div>
            </div>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
        </div>
        <div style="padding-top:10px">
          <div class="bs-component">
            <table class="table table-striped table-hover ">
              <thead>
              <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="info">
                <td>3</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="success">
                <td>4</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="danger">
                <td>5</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="warning">
                <td>6</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr class="active">
                <td>7</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              </tbody>
            </table>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
        </div>
        <div style="padding-top:10px">

          <p class="bs-component">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></p>

          <p class="bs-component">
            <button type="button" class="btn btn-default disabled">Default</button>
            <button type="button" class="btn btn-primary disabled">Primary</button>
            <button type="button" class="btn btn-success disabled">Success</button>
            <button type="button" class="btn btn-info disabled">Info</button>
            <button type="button" class="btn btn-warning disabled">Warning</button>
            <button type="button" class="btn btn-danger disabled">Danger</button>
            <button type="button" class="btn btn-link disabled">Link</button>
          </p>


          <div style="margin-bottom: 15px;">
            <div class="btn-toolbar bs-component" style="margin: 0;">
              <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>

          <p class="bs-component">
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-primary">Default button</button>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-primary btn-xs">Mini button</button>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>