<div class="row">
    <div class="col-sm-12">
        <% if (item.activity_type == 'tag') { %>
        Tag Set to <%= item.data.tag %> <span class="text-muted">by <%= item.uid %></span>
        <% } else if (item.activity_type == 'comment') { %>
        Activity
        <span class="text-muted">by <%= item.uid %></span>
        <% } else { %>
        Other
        <% } %>
        <span class="pull-right text-muted"><%= format_date(item.created) %></span>
    </div>
</div>

<% if (item.activity_type == "comment") { %>
<div class="row">
    <div class="col-sm-12">
        <p>
            <%= marked(_.trim(item.data.comment)) %>
        </p>
    </div>
</div>
<% } %>