<div class="row">

    <!-- Header: Column1 -->
    <div class="col-sm-4 uac-theme-border-right">
        <div class="row">
            <div class="col-sm-4">
                <label>Priority / Severity</label>
            </div>
            <div class="col-sm-8">
                <% if (alert.priority == 1) { %>
                <span class="label label-danger">
                                        <%= alert.priority %>
                                    </span>
                <% } else if (alert.priority == 2) { %>
                <span class="label label-warning">
                                        <%= alert.priority %>
                                    </span>
                <% } else if (alert.priority == 3) { %>
                <span class="label label-success">
                                        <%= alert.priority %>
                                    </span>
                <% } else if (alert.priority == 4) { %>
                <span class="label label-primary">
                                        <%= alert.priority %>
                                    </span>
                <% } else { %>
                <span class="label label-default">
                                        <%= alert.priority %>
                                    </span>
                <% } %>

                &nbsp;

                <% if (alert.severity == "crit") { %>
                <span class="label label-danger">
                                        High
                                    </span>
                <% } else if (alert.severity == "majr") { %>
                <span class="label label-warning">
                                        Medium
                                     </span>
                <% } else if (alert.severity == "minr") { %>
                <span class="label label-default">
                                        Low
                                     </span>
                <% } else { %>
                <span class="label label-default">
                                        <%= alert.severity %>
                                     </span>
                <% } %>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Occurred</label>
            </div>
            <div class="col-sm-8">
                <%= alert.occurred %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Updated</label>
            </div>
            <div class="col-sm-8">
                <%= alert.updated %>
            </div>
        </div>

    </div>

    <!-- Header: Column 2 -->
    <div class="col-sm-4 uac-theme-border-right">
        <div class="row">
            <div class="col-sm-4">
                <label>Source</label>
            </div>
            <div class="col-sm-8">
                <%= alert.src %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Destination</label>
            </div>
            <div class="col-sm-8">
                <%= alert.dst %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Analysis</label>
            </div>
            <div class="col-sm-8">
                <%= alert.analysis %>
            </div>
        </div>

    </div>

    <!-- Header: Column 3 -->
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4">
                <label>Client</label>
            </div>
            <div class="col-sm-8">
                <%= alert.client %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Device</label>
            </div>
            <div class="col-sm-8">
                <%= alert.device %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Device Type</label>
            </div>
            <div class="col-sm-8">
                <%= alert.device_type %>
                &nbsp;
                <% if (alert.device_type == "NX") { %>
                <i class="fa fa-globe"></i>
                <% } else if (alert.device_type == "EX") { %>
                <i class="fa fa-envelope"></i>
                <% } else if (alert.device_type == "FX") { %>
                <i class="fa fa-file"></i>
                <% } %>
            </div>
        </div>
    </div>

</div>

