<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-files-o"></i> Artifacts
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
        </tr>
        <% _.each(alert.artifacts, function(artifact) { %>
        <tr>
            <td>
                <a title="<%= artifact.file %>" href="<%= artifact.url %>">
                    <%= artifact.name %>
                </a>
            </td>
            <td><%= artifact.size %> B</td>
            <td><%= artifact.type.toUpperCase() %></td>
        </tr>
        <% }) %>
    </table>
</div>