<ul class="list-unstyled">
    <li><%= row.value %></li>
    <li>Filesize: <%= row.filesize %></li>
    <%= processinfo(row.processinfo) %>
    <li>New Creation Time: <%= row.newCreationTime %></li>
    <li>New Change Time: <%= row.newChangeTime %></li>
    <li>New Last Write Time: <%= row.newLastWriteTime %></li>
    <li>Last Write Time : <%= row.lastWriteTime %></li>
</ul>