<ul class="list-unstyled">
    <li>API Name: <%= row.apiname %></li>
    <li>Address: <%= row.address %></li>
    <li>Repeat: <%= row.repeat %></li>
    <%= params(row.params) %>
    <li>DLL Name: <%= row.dllname %></li>
    <%= processinfo(row.processinfo) %>
</ul>