<div id="md5-dialog" class="modal fade" tabindex='-1' xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    <icon class="fa fa-file"></icon>
                    MD5 Details: <%= md5 %>
                </h4>
            </div>
            <div class="modal-body" style="height: 700px; max-height: 700px; overflow: auto">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>
                                <label>MD5:</label> <%= md5 %><br/>
                                <label>SHA1: </label> <%= sha1 %><br/><br/>
                                <label>Updated: </label> <%= updated %><br/><br/>
                                This signature was detected by <%= detected_count %> of <%= count %> anti-virus vendors.<br/>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-sm-12">
                            <table class="table table-condented table-bordered">
                                <tr>
                                    <th>Antivirus</th>
                                    <th>Result</th>
                                    <th>Update</th>
                                    <th>Version</th>
                                </tr>
                                <% _.each(detected, function(item) { %>
                                <tr>
                                    <td><%= item.antivirus %></td>
                                    <td>
                                        <span class="text-danger">
                                            <a target="_blank"
                                               href="https://www.virustotal.com/latest-scan/<%= md5 %>">
                                                <i class="fa fa-bug"></i> <%= item.result %>
                                            </a>
                                        </span>
                                    </td>
                                    <td><%= item.update %></td>
                                    <td><%= item.version %></td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>