
<div class="row">
    <div class="col-sm-3" style="border: 0 solid <%= shaded_color %>;border-right-width: 1px;">
        <% _.each (categories, function(category) { %>
        <dl>
            <dt style="text-decoration: underline"><%= category.title %></dt>
            <% _.each(category_map[category.id], function(tag) { %>
            <dd>
                <input id="tag" type="checkbox" value="<%= tag.id %>"/> <%= tag.title %>
            </dd>
            <% }) %>
        </dl>
        <% }) %>
    </div>

    <div class="col-sm-3" style="border: 0 solid <%= shaded_color %>;border-right-width: 1px;">
        <% _.each (categories, function(category) { %>
        <dl>
            <dt style="text-decoration: underline"><%= category.title %></dt>
            <% _.each(category_map[category.id], function(tag) { %>
            <dd>
                <input id="tag" type="checkbox" value="<%= tag.id %>"/> <%= tag.title %>
            </dd>
            <% }) %>
        </dl>
        <% }) %>
    </div>

    <div class="col-sm-3" style="border: 0 solid <%= shaded_color %>;border-right-width: 1px;">
        <% _.each (categories, function(category) { %>
        <dl>
            <dt style="text-decoration: underline"><%= category.title %></dt>
            <% _.each(category_map[category.id], function(tag) { %>
            <dd>
                <input id="tag" type="checkbox" value="<%= tag.id %>"/> <%= tag.title %>
            </dd>
            <% }) %>
        </dl>
        <% }) %>
    </div>

    <div class="col-sm-3">
        <% _.each (categories, function(category) { %>
        <dl>
            <dt style="text-decoration: underline"><%= category.title %></dt>
            <% _.each(category_map[category.id], function(tag) { %>
            <dd>
                <input id="tag" type="checkbox" value="<%= tag.id %>"/> <%= tag.title %>
            </dd>
            <% }) %>
        </dl>
        <% }) %>
    </div>
</div>